# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=
JWT_SECRET_SEED=
NEXTAUTH_SECRET=

NEXTAUTH_URL=

BASE_URL=http://localhost:3000
GOOGLE_ID=
GOOGLE_SECRET=

CLOUDINARY_URL=


ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
BUCKET_NAME=

MAUTIC_USER=
MAUTIC_PASSWORD=
MAUTIC_API_URL=https://mautic.colegioae.edu.pe/api
MAUTIC_PUBLIC_KEY=
MAUTIC_SECRET_KEY=